.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: auto;
  border-radius: 3rem;
  border: none;
  outline: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translate(5px, -5px);
    -webkit-box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &:focus,
  &:active {
    -webkit-box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}
