.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 50px;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  transform: translate(0, 25%);

  &__line {
    position: absolute;
    left: 5px;
    height: 2px;
    width: 100%;
    transition:
      transform 0.3s,
      opacity 0.1s;
    background: var(--black80);

    &:nth-child(1) {
      top: 8px;
    }

    &:nth-child(2) {
      top: 14px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }

  &--active {
    .burger__line {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }

  @media (max-width: 1400px) {
    display: block;
  }
}
