@font-face {
  font-family: "Involve-Bold";
  src: url("/public/fonts/Involve-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Involve-Medium";
  src: url("/public/fonts/Involve-Medium.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Involve-Regular";
  src: url("/public/fonts/Involve-Regular.ttf") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Involve-SemiBold";
  src: url("/public/fonts/Involve-SemiBold.ttf") format("woff2");
  font-weight: 400;
}
